.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem;
  z-index: 1000;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #090909;
  padding: 10px;
  border-radius: 17px;
}

.logo img {
  height: 30px; /* Adjust this value to match your logo's height */
  width: auto;
}

.header nav ul {
  list-style-type: none;
  display: flex;
  gap: 5rem;
  margin: 0;
  padding: 0;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
}

.connect-wallet {
  background-color: #003D6D;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 10px;
}

/* Example CSS for main content */
.main-content {
  padding-top: 100px; /* Adjust this value based on the height of your header */
}
