.project-detail-container {
    background-color: #121212;
    color: white;
    padding: 100px;
  }
  
  .project-list-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kolom tetap */
    gap: 20px;
  }
  
  .project-card {
    background-color: #1c1c1e;
    border-radius: 8px;
    padding: 15px;
    overflow: hidden;
    text-align: left;
  }
  
  .project-card img {
    width: 100%;
    height: auto; /* Menjaga rasio gambar */
    object-fit: cover; /* Memastikan gambar tetap rapi */
    border-radius: 8px;
  }
  
  .project-info {
    margin-top: 10px;
  }
  
  .project-info h3 {
    font-size: 1.5em;
    color: #fff;
  }
  
  .project-date {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin: 10px 0;
  }

  .project-description {
    text-align: justify;
    min-height: 150px;
  }  
  
  .get-in-touch {
    background-color: #00bcd4;
    color: #121212;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;

    margin-top: auto;
  }

  .get-in-touch:hover {
    background-color: #0056b3;
  }
  
  .footer-section {
    margin-top: 40px;
    padding: 20px 0;
    border-top: 1px solid #333;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .footer-grid h3 {
    font-weight: bold;
    color: #00bcd4;
  }
  
  .footer-grid p {
    margin: 5px 0;
  }
  
  .gradient-circle {
    width: 900px; 
    height: 900px;
    background: radial-gradient(circle, rgba(0, 61, 109, 0.5), rgba(0, 61, 109, 0.1));
    border-radius: 50%;
    filter: blur(100px); 
    position: absolute; 
    top: -300px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1; 
  }
  
